* {
    padding: 0px;
    margin: 0px;
}
body {
     
    color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
   
    
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/

}
html {
    background-image: url("../images/fresh_snow/fresh_snow.png");
     background-color: black;
 } 
header {
    padding: 20px 20px 20px 0px;
    font-family:  Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    border-bottom: 2px solid #cccccc;
}
#menu-and-logo {
    width: 960px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    
}
a { 
    float: left;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    background-color: bisque;

   
}
a:hover {
    color: green;
    text-transform: uppercase;
}
#your_name {
    font-size: 1.5em;
    background-color: #4aaaa5;
    text-transform: uppercase;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 30px;
    clear: both;
    display: inline;
    height: 50px;
    position: absolute;
    top: 0px;
    float: left;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
#your_name:hover {
    background-color: green;
}
 
#menu {
    float: right;
    display: inline;
}
#menu>a {
    border-right: 1px solid gray;

}
#contact {
    border: none !important;
}
/* section {
    width: 916px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 30px;
    border: 2px solid #dddddd;
    margin-bottom: 96px; 
} */

section {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 30px;
    border: 2px solid #dddddd;
    margin-bottom: 96px; 
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
     
    
}
#contacts {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    
    margin-top: 30px;
     
    margin-bottom: 96px; 
     
    
}
#sectionContact {
    width: 660px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 30px;
    border: 2px solid #dddddd;
    margin-bottom: 96px; 
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    float: left;
     
    
}
aside {
    width: 200px;
    height: 125px;
    background-color: #ffffff;
    margin-left: 5px;
    padding: 25px;
    float: right;
    margin-top: 30px;
    border: 2px solid #dddddd;
}
#about_me  {
    margin-right: 10px;
    padding: 20px;
    width: 340px;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


hr {
    border-top: 4px solid #dddddd;
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    
  } 
#contacts_hr_line {
    border-top: 4px solid #dddddd;
    width: 620px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
#social_mediaHR {
    border-top: 1px solid #dddddd;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
#profilePic {
    float: left;
    padding: 0px 0px 0px 0px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
p {
    text-indent: 3em;
    padding: 15px;
    line-height: 2;
}

footer {
    
    background-color: #666666;
    clear: both;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    height: 66px;
    border-top: 8px solid #4aaaa5;
    overflow: hidden;
    
}
footer>p {
    color: rgb(245, 240, 240);
    font-weight: normal;
    margin-top: 26px;
    bottom: 0px;
    background-color: #666666;
    font-size: 90%;
     

     
     
}
#btn_submit {
    background-color: #4aaaa5;
    margin: 4px 2px;
    border: none;
    padding: 8px 32px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#btn_submit:hover {
    background-color: green;
}
#picture1 {
     
    width: 320px;
    
}
#picture2 {
     
    width: 320px;
    
}
#picture3 {
     
    width: 320px;
    
}
#img2 {
     
}
#img1 {
     
    z-index: 1;
}
#img3 {
    width: 350px;
}
.text-1 {
    width: 100%;
    position: relative;
    background-color: rgba(84, 63, 180, 0.549);
    
    bottom:  70px;
    text-align: center;
    color: white;
    text-indent: 0em;
}
.text-2 {
    width: 100%;
    position: relative;
    background-color: rgba(84, 63, 180, 0.549);
    
    bottom:  70px;
    text-align: center;
    color: white;
    text-indent: 0em;
}
#TriviaGame {
    width: 300px;
    position: absolute;
    background-color: rgba(84, 63, 180, 0.549);
    clear: both;
    bottom:  150px;
    text-align: center;
    color: white;
    text-indent: 0em;
}
#RockPaperScissors {
    width: 300px;
    position: absolute;
    background-color: rgba(84, 63, 180, 0.549);
    clear: both;
    bottom:  150px;
    text-align: center;
    color: white;
    text-indent: 0em;
}
